################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project EDA/.vs/Project EDA/v16/ipch/AutoPCH/70dc43036b97c28d/MAIN.ipch
/Project EDA/.vs/Project EDA/v16/Browse.VC.opendb
/Project EDA/.vs/Project EDA/v16/Browse.VC.db-wal
/Project EDA/.vs/Project EDA/v16/Browse.VC.db-shm
/Project EDA/.vs/Project EDA/v16/Browse.VC.db
/Project EDA/.vs/Project EDA/v16/.suo
/.vs/trabalho/v16/Browse.VC.db
/.vs/trabalho/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Trabalho EDA/v16/.suo
/.vs/Trabalho EDA/v16/Browse.VC.db
