################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Project_EDA/v16/ipch/AutoPCH/e8a6fde327430349/TESTES.ipch
/.vs/Project_EDA/v16/ipch/AutoPCH/a4130808818452e8/MAIN.ipch
/.vs/Project_EDA/v16/Browse.VC.opendb
/.vs/Project_EDA/v16/Browse.VC.db-wal
/.vs/Project_EDA/v16/Browse.VC.db-shm
/.vs/Project_EDA/v16/Browse.VC.db
/.vs/ProjectSettings.json
